:root {
  --main-text-color: #434455;
  --dark: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --light-slate: #8e8f99;
  --white: #ffffff;
  --green: #31d0aa;
  --dairy: #fcfcfc;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
}
.list-strategy {
  display: flex;
  gap: 24px;
}
.list-strategy-items {
  width: calc((100% - 72px)/ 4);
  }
.button {
  cursor: pointer;
  color: #4d5ae5;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 76px;
  margin-bottom: 16px;
  display: inline-block;
}
.head-three-tag {
  color: var(--dark);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  text-align: left;
  margin-bottom: 8px;
  }
.paragraph {
  line-height: 1.5;
  color: var(--slate);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  box-sizing: content-box;
  text-align: left;
}
.list-team {
  display: flex;
  gap: 24px;
}
.section {
  background-color: white;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  
}
.customers-list-items {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-main-container {
  display: flex;
  align-items: baseline;
}
.header {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  text-transform: capitalize;
  margin-bottom: 72px;
  
}
.customers-logo-list {
  border-radius: 4px;
  fill: currentColor;
}
.address-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.button-subscribe {
  color:white;
  background-color: var(--iris);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  }
  .footer-input-email {
    background-color: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    gap: 24px;
    border-radius: 4px;
  border: 1px solid var(--WHITE, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  }
.footer-paragraph {
  color: var(--white);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 16px;
}
.button-order-service {
  background-color: var(--iris);
  color: white;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  word-wrap: break-word;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  margin: auto;
  display: block;
  margin-top: 48px;
  min-width: 169px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order-service:hover {
  background-color: #404bbf;
}
.button-order-service:focus {
  background-color: #404bbf;
}
.head-first-tag {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto;
}
.menu-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}
.logo-nav {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
}
.main-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;}
/*============================ MOBILE=============================== */
@media screen and (max-width: 767px) 
{
.container {
  max-width: 428px;
} 
img {
margin: auto;
}
h3 {font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;}
.paragraph {
  line-height: 1.5;
  color: var(--slate);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  box-sizing: content-box;
  text-align: left;
  align-self: stretch;
}
.link-portfolio-filters:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-portfolio-filters:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.link-portfolio-filters:hover .paragraph-portfolio-div {
  transform: translateY(0%);
}
.link-portfolio-filters:focus .paragraph-portfolio-div {
  transform: translateY(0%);
}
.logo {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 76px;
  margin-bottom: 16px;
  display: inline-block;
  margin-left: 80px;
}
.footer-form-label {
  margin: auto;
}
.button:visited {
  color: #404bbf;}
.logo-studio {
  color: var(--dark);
}
.footer {
  background-color: var(--dark);
  padding: 100px 0;
}
.list-first {
 color: var(--dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-first:hover {
  color: #404bbf;
}
.list-first:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  display: none;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.contact {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
.section-main {
  color: #ffffff;
  padding: 188px 0;
  margin: auto;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) 
  {.section-main {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office@2x.jpg);
  }}
.head-first-tag {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
}
.button-order-service {
  background-color: var(--iris);
  color: white;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  word-wrap: break-word;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  margin: auto;
  display: block;
  margin-top: 72px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order-service:hover {
  background-color: #404bbf;
}
.button-order-service:focus {
  background-color: #404bbf;
}
.head-three-tag {
  color: var(--dark);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 8px;
  
}
.head-two-tag {
  color: var(--dark);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  margin-bottom: 8px;
}
.h2-tag-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.list-strategy-items {
  width: 100%;
}
.team-list {
  background-color:white;
  width: 264px;
  margin: auto;
}
.paragraph-footer {
  line-height: 1.5;
  color: var(--cloud);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin: 0 auto;
}
.headers-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.menu-list {
  display: none;
  justify-content: flex-start;
  gap: 40px;
}
.list-main-section-porfolio {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.list-images {
  display: none;
  gap: 24px;
}
.list-team {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}
.address-list {
  display: none;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-list {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-cointainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
}
.customers-logo-list {
  border-radius: 4px;
  fill: currentColor;
  
}
.header-main-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.images-section {
  padding-bottom: 120px;
  display: none;
}
.list-strategy {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.main-page-section-two {
  padding: 96px 0;
  width: 396px;
  margin: auto;

}
.section-team {
  padding: 120px 0;
  background-color: var(--cloud);
}
.team-member {
  padding: 32px 0px;
  margin: auto;
  width: 264px;
  background-color: white;
}
.header-portfolio-page {
  border-bottom: 1px solid #e7e9fc;
}
.list-porfolio {
  padding-top: 96px;
}
.list-main-section-porfolio {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-images {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-items {
  width: calc((100% - 48px) / 3);
}
.portfolio-items:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.paragraph-portfolio {
  text-align: left;
  color: var(--slate);
}
.list-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.logo-nav {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  margin: 0;
}
.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
  list-style: none;
}
.team-socials-items {
  width: 40px;
  height: 40px;
}
.main-icons-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
}
.team-socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-link:hover {
  background-color: #404bbf;
  color: #404bbf;
}
.team-socials-link:focus {
  background-color: #404bbf;
  color: #404bbf;
}
.head-team-members {
  text-align: center;
}
.paragraph-team-members {
  text-align: center;
  margin-top: 8px;
}
.customers-list {
  display: flex;
  column-gap: 16px;
  row-gap: 72px;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}
.header-customers {
  margin-bottom: 72px;
}
.vector-team-socials {
  fill: var(--cloud);
}
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list-items {
  height: 88px;
  width: 190px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover {
  border: 1px var(--ocean) solid;
  border-color: var(--ocean);
  color: var(--ocean);
}
.customers-list-link:focus {
  border: 1px var(--ocean) solid;
  border-color: var(--ocean);
  color: var(--ocean);
}
.footer-main-container {display: block;
}
.footer-logo {
margin: auto;
display: block;
text-align: center;
}
.footer-paragraph {
  color: var(--white);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 16px;
  padding-top: 72px;
  text-align: center;
}
.subscribe {
  color: var(--white);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 11px;
  
}
.footer-socials-list {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover {
  background-color: var(--green);
}
.footer-socials-link:focus {
  background-color: var(--green);
}
.footer-socials-list-items {
  width: 40px;
  height: 40px;
}
.vector-footer-socials {
  fill: var(--cloud);
}
.button-portfolio-link {
  display: block;
}
.modal-window {
  position: fixed;
  inset: 0 0 auto;
  min-height: 100vh;
  padding: 72px 24px 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover {
  background-color: #404bbf;
  border: none;
}
.close-button:focus {
  background-color: #404bbf;
  border: none;
}
.is-hidden {
  visibility: hidden;
}
.vector-close-button {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover {
  fill: #ffffff;
}
.close-button:focus {
  fill: #ffffff;
}
.link-portfolio-filters {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-portfolio-div {
  position: relative;
  overflow: hidden;
}
.paragraph-portfolio-div {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-product {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-product:hover, .button-product:focus {
  border: 1px solid transparent;
  box-shadow: box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #404bbf;
  
}
.link-active::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid var(--ocean);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -1px;
  background-color: var(--ocean);}
 .link-active {
  color: var(--ocean);
  text-decoration: none;
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe {
  color: var(--white);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 16px;
}
.footer-input-email {
  background-color: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto;
  gap: 24px;
  border-radius: 4px;
border: 1px solid var(--WHITE, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 398px;
height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
color: white;
}
.button-subscribe {
color:white;
background-color: var(--iris);
display: flex;
justify-content:center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;
border-radius: 4px;
width: 165px;
height: 40px;
border: none;
cursor: pointer;
margin: auto;
}
.icon-send {
fill: white;
margin-left: 16px;
}
.paragraph-modal {
  color: var(--dark);
text-align: center;
/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.modal-label {
  display: block;
color: var(--light-slate);  
/* Small Text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.48px;
margin-bottom: 4px;
}
.modal-input {
width: 100%;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
margin-top: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + svg {
  fill: #4D5AE5; 
}
.modal-input:focus {
  border-color: #4D5AE5;
}
.modal-icon-container {
position: relative;
display: block;
margin-bottom: 8px;
}
.modal-icon-input  {
  position: absolute;
  left: 16px;
  top:50%;
  transform: translateY(-50%);/* how to center an icon*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-send {
display: block;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
min-width: 169px;
height: 56px;
color: white;
text-align:center;
margin: auto;
/* Button Text */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.04em;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
border-color: #4D5AE5; }
.footer-form {
  display: flex;
  gap: 0px;
  flex-direction: column;
}
.modal-body {
padding: 72px 24px 24px 24px;
background-color: var(--dairy);
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  display: block;
  border-radius: 4px;
  background: #fcfcfc;
}
.modal-svg-input {
  position: relative;
}
.modal-comment-input {
  margin-bottom: 16px;
}
.privacy-container {
  margin-bottom: 24px;
}
.label-modal-privacy {
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate);
}
.modal-span {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content:center;
fill:transparent;
margin-right: 8px;
}
.modal-privacy-link {
color: var(--iris);
}
.input-modal-privacy:checked + label>span {
  background-color: var(--ocean);
  border:none;
  fill: var(--cloud);
}
.address.nav-list {
  display: none;
}
/*------------------------- Hamburger------------------------------ */
.menu {
  display: none;
}


.page-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {


}

.address-list {
 display: flex;
 justify-content: center;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  z-index: 999;
  transform: translateX(100%);
 
}
.menu-container.is-open {
  transform: translateX(0);
  background-color: white;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 24px;
  padding-left: 8px;
  margin-bottom: 150px;
}
.mobile-menu .link {
  display: block;
  color: var(--dark);
  text-decoration: none;
/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;

}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  width: 428px;
}
.team-socials-menu {
  display: flex;
  gap: 56px;

  list-style: none;
  margin-top: 56px;
}
.menu-email {
  color: var(--main-text-color);
  text-align: center;
/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.menu-tel {
  color: var(--iris);
  text-align: center;
}
/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;



.container-header-address-list-item {
  margin-top: 40px;
}

  }
/*============================ TABLET=============================== */
@media screen and (min-width: 768px)
  {
    .container {
    max-width: 768px;
    margin: 0 auto;
  }
    .menu-toggle {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
    .main-icons-container {
      display: none;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      height: 112px;
      background-color: var(--cloud);
      border-radius: 4px;
    }
.header-cointainer{
  width: 100%;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.head-three-tag {
  color: var(--dark);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  text-align: left;
  margin-bottom: 8px;
  
}
.nav-list {
  display: none;}
.paragraph {
  line-height: 1.5;
  color: var(--slate);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-weight: 400;
  letter-spacing: 0.32px;
  word-wrap: break-word;
  box-sizing: content-box;
  text-align: left;
  align-self: stretch;
}
.list-strategy {
  flex-wrap: wrap;
}
.list-strategy-items { 
  width: 356px;
}
.images-section {
  padding-bottom: 120px;
  display: none;
}
.section-main {
  color: #ffffff;
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) 
{.section-main {
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)
),
url(../images/people-office@2x.jpg);
}}


.main-page-section-two {
  width: 100%;
}
.team-list {
  width: 264px;
}
.list-team {
  display: flex;
  gap: 24px;
flex-wrap: wrap;
justify-content: center;
}
.head-first-tag {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 100%;
  margin: auto;
}
.customers-list {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
}
.customers-list-items {
  height: 88px;
  width: 168px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  .footer-main-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding-top: 72px;
    column-gap: 24px;
    justify-content: center;
    margin: auto;
  }
  .subscribe {
    color: var(--white);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-bottom: 16px;
    padding-top: 72px;
    width: 500px;
  }
  .footer-input-email {
    background-color: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 24px;
    border-radius: 4px;
  border: 1px solid var(--WHITE, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  }
  .footer-logo-tablet {
    display: flex;
    margin: 0;
    margin-bottom: 16px;
  }
  .paragraph-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    flex-wrap: wrap;
    width: 268px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
    margin-bottom: 96px;
  }
  }
/*============================ NOT DESKTOP=============================== */
/* @media screen and (max-width: 1199px)
  { */
/*============================ DESKTOP=============================== */
@media screen and (min-width: 1158px) {
.container {
  max-width: 1158px;
  }
  .list-strategy {
    display: flex;
    gap: 24px;
  }
  .list-strategy-items {
    width: calc((100% - 72px)/ 4);
    }

    .address-list {
      display: flex;
      flex-direction: row;
      gap: 40px;
      padding-top: 24px;
      padding-bottom: 24px;
      
    }
    .main-icons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      height: 112px;
      background-color: var(--cloud);
      border-radius: 4px;
    }
    .list-strategy-items {
      width: calc((100% - 72px) / 4);
      }
  
      .footer {
        background-color: var(--dark);
        width: 100%;
        padding-bottom: 100px;
      }
      .subscribe {
        color: var(--white);
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        word-wrap: break-word;
        margin-bottom: 16px;
    
      }
      .footer-subscribe-container{
        display: flex;
        flex-direction: column;
      }
      .footer-main-container {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
        row-gap: 72px;
        gap: 100px;
        margin: auto;
      
      }
      .images-section {
        padding-bottom: 120px;
        display: flex;
        margin: auto;
      }
      .section-main {
        color: #ffffff;
        padding: 188px 0;
        max-width: 1440px;
        margin: auto;
        background-size: cover;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/people-office.jpeg);
        background-repeat: no-repeat;
        background-position: center;
      }
      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) 
  {.section-main {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office@2x.jpg);
  }}
  .head-three-tag {
    color: var(--dark);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    word-wrap: break-word;
    text-align: left;
    margin-bottom: 8px;

  }
}
/* *************** below 320px****************** */

@media screen and (max-width: 428px){
  .container {
    width: 320px;
  }
  .footer-input-email {
width: 100%;
}
.main-page-section-two {
  width: 100%;
}
.section-team {
  width: inherit;
}
.customers-section {
  width: inherit;
  margin: auto;
}
.modal-body {
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy);
    max-width: fit-content;
    min-height: 584px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    border-radius: 4px;
    background: #fcfcfc;
    margin: auto;


  }

}

.link-portfolio-filters:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-portfolio-filters:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.link-portfolio-filters:hover .paragraph-portfolio-div {
  transform: translateY(0%);
}
.link-portfolio-filters:focus .paragraph-portfolio-div {
  transform: translateY(0%);
}
.button:visited {
  color: #404bbf;}
.logo-studio {
  color: var(--dark);
}
.footer {
  background-color: var(--dark);
}
.list-first {
 color: var(--dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-first:hover {
  color: #404bbf;
}
.list-first:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.contact {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}

.head-two-tag {
  color: var(--dark);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  margin-bottom: 8px;
}
.h2-tag-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.head-three-tag {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  color: var(--dark);
}
.paragraph-footer {
  line-height: 1.5;
  color: var(--cloud);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  max-width: 264px;
}
.headers-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.list-main-section-porfolio {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.list-images {
  display: flex;
gap: 24px;
justify-content: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-cointainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
}
.header-main-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-page-section-two {
  padding: 120px 0;
}
.section-team {
  padding: 120px 0;
  background-color: var(--cloud);
}
.team-member {
  padding: 32px 0px;
}
.header-portfolio-page {
  border-bottom: 1px solid #e7e9fc;
}
.list-porfolio {
  padding-top: 96px;
}
.list-main-section-porfolio {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-images {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-items {
  width: calc((100% - 48px) / 3);
}
.portfolio-items:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.paragraph-portfolio {
  text-align: left;
  color: var(--slate);
}
.list-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
  list-style: none;
}
.team-socials-items {
  width: 40px;
  height: 40px;
}
.team-socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-link:hover {
  background-color: #404bbf;
  color: #404bbf;
}
.team-socials-link:focus {
  background-color: #404bbf;
  color: #404bbf;
}
.head-team-members {
  text-align: center;
}
.paragraph-team-members {
  text-align: center;
  margin-top: 8px;
}
.header-customers {
  margin-bottom: 72px;
}
.vector-team-socials {
  fill: var(--cloud);
}
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list-link:hover {
  border: 1px var(--ocean) solid;
  border-color: var(--ocean);
  color: var(--ocean);
}
.customers-list-link:focus {
  border: 1px var(--ocean) solid;
  border-color: var(--ocean);
  color: var(--ocean);
}
.footer-socials-list {
  list-style: none;
  display: flex;
  gap: 16px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover {
  background-color: var(--green);
}
.footer-socials-link:focus {
  background-color: var(--green);
}
.footer-socials-list-items {
  width: 40px;
  height: 40px;
}
.vector-footer-socials {
  fill: var(--cloud);
}
.button-portfolio-link {
  display: block;
}
.modal-window {
  position: fixed;
  inset: 0 0 auto;
  min-height: 100vh;
  padding: 72px 24px 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover {
  background-color: #404bbf;
  border: none;
}
.close-button:focus {
  background-color: #404bbf;
  border: none;
}
.is-hidden {
  visibility: hidden;
}
.vector-close-button {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover {
  fill: #ffffff;
}
.close-button:focus {
  fill: #ffffff;
}
.link-portfolio-filters {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-portfolio-div {
  position: relative;
  overflow: hidden;
}
.paragraph-portfolio-div {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-product {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-product:hover, .button-product:focus {
  border: 1px solid transparent;
  box-shadow: box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #404bbf;
  
}
.link-active::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid var(--ocean);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -1px;
  background-color: var(--ocean);}
 .link-active {
  color: var(--ocean);
  text-decoration: none;
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-send {
fill: white;
margin-left: 16px;
}
.paragraph-modal {
  color: var(--dark);
text-align: center;
/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.modal-label {
  display: block;
color: var(--light-slate);  
/* Small Text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.48px;
margin-bottom: 4px;
}
.modal-input {
width: 100%;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
margin-top: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + svg {
  fill: #4D5AE5; 
}
.modal-input:focus {
  border-color: #4D5AE5;
}
.modal-icon-container {
position: relative;
display: block;
margin-bottom: 8px;
}
.modal-icon-input  {
  position: absolute;
  left: 16px;
  top:50%;
  transform: translateY(-50%);/* how to center an icon*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-send {
display: block;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
min-width: 169px;
height: 56px;
color: white;
text-align:center;
margin: auto;
/* Button Text */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.04em;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
border-color: #4D5AE5; }
.footer-form {
  display: flex;
  gap: 24px;
}
.modal-body {
padding: 72px 24px 24px 24px;
background-color: var(--dairy);
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  display: block;
  border-radius: 4px;
  background: #fcfcfc;
}
.modal-svg-input {
  position: relative;
}
.modal-comment-input {
  margin-bottom: 16px;
}
.privacy-container {
  margin-bottom: 24px;
}
.label-modal-privacy {
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate);
}
.modal-span {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content:center;
fill:transparent;
margin-right: 8px;
}
.modal-privacy-link {
color: var(--iris);
}
.input-modal-privacy:checked + label>span {
  background-color: var(--ocean);
  border:none;
  fill: var(--cloud);
}